.about-us-container {
	padding: 0 1rem;

	&__content {
		display: flex;
		justify-content: center;
		padding: 8rem 0 3rem;
	}
}
.content-text {
	padding: 0 2rem;

	&__title {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		color: $textColor;
		text-transform: capitalize;
		max-width: 438px;
		padding: 0 0 2rem;
	}

	&__paragraph {
		font-family: $mainFont;
		color: $textColor;
		font-size: 16px;
		line-height: 30px;
		max-width: 539px;
		padding-bottom: 2rem;
	}
}
.fan-facts {
	display: flex;
	justify-content: space-evenly;
	padding: 0 0 4rem;
	max-width: 966px;
	margin: 0 auto;
}

.fan-fact {
	&__title {
		font-family: $mainFont;
		color: $textColor;
		font-weight: 700;
		font-size: 48px;
		text-align: center;
	}

	&__subtitle {
		font-family: $mainFont;
		color: $textColor;
		font-size: 20px;
		text-align: center;
	}
}
@media (max-width: 800px) {
	.about-us-container {
		&__content {
			flex-direction: column;
			padding: 3rem 0 0rem;
		}
	}
}

@media (max-width: 500px) {
	.content-text {
		padding: 0 2rem;

		&__title {
			font-size: 24px;
			line-height: 29px;
		}
	}
	.fan-facts {
		flex-direction: column;
		padding: 0;
	}
	.fan-facts__fact {
		padding-top: 60px;
	}
	.about-us-container {
		padding: 0 1rem;

		&__content {
			display: flex;
			justify-content: center;
			padding: 5em 0 0rem;
		}
	}
}
