.banner-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-text {
	&__title {
		float: left;
		font-family: $mainFont;
		font-weight: 700;
		font-size: 150px;
		color: $textColor;
		&::after {
			content: "";
			background-image: url(../../../src/assets/image/icons/dotted_line.png);
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			left: 56%;
			top: 130px;
			width: 40vw;
			height: 765px;
		}
	}
	&__title-sub {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 150px;
		color: $textColor;
		padding: 0 0 0 3rem;
	}
}
.banner-text {
	&__subtitle {
		max-width: 26.75rem;
		font-family: $mainFont;
		font-size: 24px;
		color: $textColor;
		padding: 2rem 0;
		width: 515px;
		min-height: 70px;
		padding: 2rem 0;
	}
}
.banner-text__world-class {
	max-width: 200px;
	float: left;
}
.banner-text-container {
	display: flex;
	justify-content: end;
	margin-left: 30%;
	position: relative;
	&::before {
		content: "";
		background-image: url(../../assets/image/icons/play\ video.svg);
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 10%;
		z-index: 11;
		width: 150px;
		height: 150px;
		backdrop-filter: blur(25px);
		border-radius: 50%;
	}
}
.banner-text__development {
	width: 375px;
	position: relative;
	top: -110px;
	right: -1rem;
	border-radius: 65px;
}
.banner-text__scroll-down {
	font-family: $mainFont;
	font-size: 14px;
	color: $textColor;
	text-decoration: none;
	display: block;
	transform: rotate(270deg);
	position: relative;
	top: -5rem;
	left: 0px;
	transition: 0.5s;
	cursor: pointer;

	&:hover {
		color: $battonColor;
	}
	&::before {
		content: "◀";
		display: inline-block;
		padding: 0 5px;
	}
}

.banner-text__perfomance-img {
	position: absolute;

	top: 6.5rem;
	left: -14rem;
	border-radius: 30px;
	z-index: 1;
	max-width: 241px;
}
.banner-text__perfomance-circle {
	position: absolute;
	left: -5.5rem;
	top: 18rem;
	z-index: 0;
	width: 9vw;
}

@media (max-width: 1000px) {
	.banner-text {
		&__title {
			font-size: 120px;
			&::after {
				content: "";
				background-image: url(../../../../src/assets/image/icons/dotted_line\ adaptiv.svg);
				left: 20%;
				top: 110px;
				width: 60vw;
			}
		}
		&__title-sub {
			font-size: 120px;
			padding: 0 0 0 4rem;
		}
	}
	.banner-text__world-class {
		max-width: 170px;
		float: left;
	}
	.banner-text__development {
		width: 300px;
		position: relative;
		top: 20px;
		right: 2rem;
		border-radius: 65px;
	}
	.banner-text-container {
		margin: 0 0 25% 5%;
		&::before {
			content: "";
			background-image: url(../../../../src/assets/image/icons/play\ video.svg);
			bottom: -70px;
			width: 120px;
			height: 120px;
			right: 20px;
		}
	}

	.banner-text__perfomance-img {
		position: absolute;
		top: 14.5rem;
		left: 0rem;
		width: 24vw;
	}
	.banner-text__perfomance-circle {
		position: absolute;
		left: 11rem;
		top: 29rem;
		z-index: 0;
		width: 12vw;
	}
	.banner-text__scroll-down {
		position: relative;
		left: 25%;
		top: 5%;
	}
}

@media (max-width: 500px) {
	.banner-text {
		&__title {
			font-size: 70px;
			&::after {
				left: -30%;
				top: 2.5%;
				width: 340px;
			}
		}
		&__title-sub {
			font-size: 70px;
			padding: 0;
		}
	}
	.banner-text {
		&__subtitle {
			max-width: 22.75rem;
			font-size: 18px;
			padding: 2rem 0;
			width: 515px;
			min-height: 70px;
			padding: 2rem 0;
		}
	}
	.banner-text__world-class {
		max-width: 100px;
	}
	.banner-text__development {
		width: 270px;
		position: static;
		margin-bottom: 3rem;
	}
	.banner-text-container {
		flex-direction: column;
		margin: 0 0 0 10%;
		&::before {
			content: "";
			background-image: url(../../../../src/assets/image/icons/play\ video.svg);
			bottom: 190px;
			width: 120px;
			height: 120px;
			right: 20px;
		}
	}
	.banner-text__scroll-down {
		display: none;
	}
	.general__button-baner {
		display: none;
	}
	.banner-text__perfomance-img {
		position: static;
		width: 41vw;
	}
	.banner-text__perfomance-circle {
		position: absolute;
		left: 7rem;
		top: 560px;
		z-index: 0;
		width: 19vw;
	}
}
