.blog__title {
	font-family: $mainFont;
	font-weight: 700;
	font-size: 48px;
	color: $textColor;
	padding: 6rem 0 2.4rem;
}

.blog-cards {
	display: flex;

	&__blog-card {
		padding: 0 0.7rem 6rem;
	}
}
.blog-card {
	&__blog-image {
		border-radius: 50px;
		margin: 0 0 1.45rem;
		width: 100%;
	}

	&__badge {
		font-family: $mainFont;
		font-weight: 500;
		font-size: 12px;
		padding: 5px 12px;
		background-color: $textColor;
		border-radius: 36px;
	transition: 0.5s;

		cursor: pointer;
		&:hover {
			color: $battonColor;
		}
	}

	&__name-data {
		font-family: $mainFont;
		font-weight: 500;
		font-size: 16px;
		color: $textColor;
		padding: 1rem 0;
	}

	&__title {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 30px;
		color: $textColor;
		padding: 0 0 1.45rem;
	}
}
@media (max-width: 500px) {
	.blog__title {
		font-size: 24px;
		padding: 4rem 0rem 2.4rem;

	}
	.blog-cards {
		overflow: hidden;
		&__blog-card {
			padding: 0 0.7rem 20px;
		}
	}
	.blog-card {
		&__blog-image {
			border-radius: 50px;
			margin: 0 0 1.45rem;
			min-width: 327px;
			height: 184px;
		}

		&__badge {
			margin-left: 34%;
		}

		&__name-data {
			text-align: center;
		padding: 1.5rem 0;
			
		}

		&__title {
			font-size: 20px;
			text-align: center;
			line-height: 38px;
		}
	}
	.general__button-blog {
		margin-left: 90px;
	}
	.pagination-blog {
		margin-bottom: 80px;
	}
}
@media (max-width: 320px) {
	.blog-card {
		&__blog-image {
			min-width: 280px;
		}

		&__badge {
			margin-left: 30%;
		}

	}
	.general__button-blog {
		margin-left: 60px;
	}
	.pagination-blog {
		margin-bottom: 60px;
	}
}