html {
	font-size: 20px;
	scroll-behavior: smooth;
}


.general__button {
	font-family: $mainFont;
	font-size: 18px;
	background-color: transparent;
	border: 1px solid $textColor;
	color: $textColor;
	padding: 0.99rem 1.5rem;
	border-radius: 30px;
	transition: 0.5s;

	cursor: pointer;
	&::after {
		content: "↗";
		width: 10px;
		height: 10px;
		display: inline-block;
		padding-left: 0.5rem;
	}
	&:hover {
		background-color: $battonColor;
		color: $bgColor;
	}
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-container {
    max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;

}
@media (max-width: 1000px) {
	html {
		font-size: 13.5px;
	}
}
@media (max-width: 500px) {
	html {
		font-size: 13.5px;
	}
	.pagination{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $battonColor;
		position: relative;
		margin: 0 auto;
		&::after{
			content: '';
			width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $textColor;
		position: absolute;
		left: 40px;
		}
		&::before{
			content: '';
			width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $textColor;
		position: absolute;
		right: 40px;
		}
	}
}