.service-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6rem 0 2rem;
	&__text {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 48px;
		color: $textColor;
		max-width: 19.1rem;
	}
}

.service-frames {
	display: flex;
}
.left {
	&__top-card {
		// max-width: 95%;

		background-color: $sectionColor;
		border-radius: 50px 0px 0px 0px;
		margin: 0 0.7rem 1.5rem 0;
		padding: 4.2rem 1rem;
	}

	&__bottom-card {
		// max-width: 95%;
		background-color: $sectionColor;
		border-radius: 0px 0px 0px 50px;
		padding: 4.2rem 1rem;
		margin: 0 0.7rem 1.5rem 0;

	}
}
.right {
	&__top-card {
		// max-width: 100%;

		background-color: $sectionColor;
		border-radius: 0px 50px 0px 0px;
		margin: 1.5rem 0 1.5rem 0.7rem;
		padding: 4.2rem 1rem;
	}

	&__bottom-card {
		// max-width: 100%;
		background-color: $sectionColor;
		border-radius: 0px 0px 50px 0px;
		padding: 4.2rem 1rem;
		margin: 0 0 0 0.7rem;
	}
}

.card {
	padding: 1rem;

	&__title {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 30px;
		color: $textColor;
		padding: 1rem 0;
	}

	&__paragraph {
		font-family: $mainFont;
		font-size: 16px;
		color: $textColor;
		line-height: 30px;
		padding: 0 0 2rem;
	}
}
@media (max-width: 500px) {
	.service-title {
		&__text {
			font-size: 24px;
			max-width: 190px;
		}
	}
	.service-frames {
		flex-direction: column;
	}
	.card {
		padding: 1rem;

		&__title {
			font-size: 20px;
		}

		&__paragraph {
			max-width: 245px;
		}
	}
	.left {
		&__top-card {
			padding: 4.2rem 2rem;
			border-radius: 50px;
		}

		&__bottom-card {
			display: none;
		}
	}
	.right {
		&__top-card {
			display: none;
		}

		&__bottom-card {
			display: none;
		}
	}

	.general__button-service {
		border: none;
		color: $battonColor;
		padding: 0;
		&::after {
			content: "";	
		}
	}
}
