.approach{
	background: linear-gradient(to right, $battonColor 40%, $sectionColor 40%);

}
.approach-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5rem 0 4.5rem;
}
.demonstration {
position: relative;
}
.demonstration__picture {
	border-radius: 80px;
    z-index: 1;
    position: relative;
	width: 100%;
}
.demonstration__circle-line{
position: absolute;
top: -3rem;
left: 27rem;
z-index: 0;
}

.description {
	padding: 0 0 0 3rem;
}
.description__title {
	font-family: "Inter";
	font-weight: 700;
	font-size: 48px;
	color: $textColor;
	width: 513px;
}
.description__title::before {
	padding: 20px;
}

.description-approach__title {
	font-family: "Inter";
	font-weight: 700;
	font-size: 24px;
	color: $textColor;
    padding: 2.1rem 0;
	&::before {
		content: url(../../../../src/assets/image/icons/check-circle.png);
	}
}
.description-approach__paragraph {
	font-family: "Inter";
	font-size: 16px;
	color: $textColor;
	max-width: 20.7rem;
    padding: 0 0 0 1.8rem;
}

@media (max-width: 1000px) {
	.approach{
		background: linear-gradient(to top, $battonColor 40%, $bgColor 40%);
	position: relative;
	}
	.approach-container {
		flex-direction: column-reverse;
		align-items: center;
	}
	.demonstration {
		display: flex;
		padding: 5rem;
		}
		.demonstration__picture {
			width: 100%;
			margin: 0 auto;
		}
		.demonstration__circle-line{
			top:5%;
			left: 70%;
			}
}
@media (max-width: 500px) {
	.description__title {
		font-size: 24px;
		width: 313px;
	}
	.description-approach__title {
		font-size: 20px;
		&::before {
			content: url(../../../../src/assets/image/icons/check-circle-adaptive.png);
		}
	}
	
	.demonstration__picture {
		width: 318.65px;
	}
	.demonstration__circle-line{
width: 111px;
height: 107px;

	}
	.demonstration {
		display: flex;
		padding: 5rem 0;
		}
}