.wrapper {
background-color: $bgColor;	
position: relative;
overflow-y: hidden;
background-image: url(../../../../src/assets/image/icons/Background\ elements.svg);
background-repeat: no-repeat;
background-size: contain;
}


