html{
    font-size: 20px;
    scroll-behavior: smooth;

}
.wrapper{
    background:  url(../../assets/image/pictures/Background_elements.png) ;
    background-size: cover;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    padding: 0 .75rem;

}
