.work-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 2.4rem;
    // .work-title__text

    &__text {
        font-family: $mainFont;
		font-weight: 700;
		font-size: 48px;
		color: $textColor;
        
    }

    // .work-title__navigation

    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 43%;
    }

    // .work-title__navigation-link

    &__navigation-link {
        font-family: $mainFont;
		font-size: 16px;
		color: $textColor;
        padding: 1.2rem 0 0;
    }
}
.projects {
display: flex;
    // .projects__card

    &__card {
    }

    // .projects__card-image

    &__card-image {
        border-radius: 50px;
padding: 0 .7rem;
    }

    // .projects__card-title

    &__card-title {
        font-family: $mainFont;
		font-weight: 700;
		font-size: 24px;
		color: $textColor;
        padding: 1.3rem 0;
        max-width: 19.65rem;
    }

    // .projects__card-paragraph

    &__card-paragraph {
        font-family: $mainFont;
		font-size: 16px;
		color: $textColor;
        padding: 0 0 1.2rem ;
    }
}
.projects__button{
display: flex;
justify-content: center;
}