.work-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6rem 0 2.4rem;

	&__text {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 48px;
		color: $textColor;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		width: 43%;
	}

	&__navigation-link {
		font-family: $mainFont;
		font-size: 16px;
		color: $textColor;
		padding: 1.2rem 0 0;
		cursor: pointer;
		&:hover {
			color: $battonColor;
		}
	}
}
.projects {
	display: flex;

	&__card-image {
		border-radius: 50px;
		padding: 0 0.7rem;
		width: 100%;
	}

	&__card-title {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 24px;
		color: $textColor;
		padding: 1.3rem 0.8rem;
		max-width: 19.65rem;
	}

	&__card-paragraph {
		font-family: $mainFont;
		font-size: 16px;
		color: $paragraphColor;
		padding: 0 1rem 1.2rem;
	}
}
.projects__button {
	display: flex;
	justify-content: center;
}
